@import "tailwindcss";

@theme {
    --color-primary: rgba(189, 189, 189, 255);
    --color-secondary: rgba(123, 123, 123, 255);
    --color-accent: #ffffff;
    --color-smile: #ffff00;
    --color-background: #181a1b;
    --color-foreground: #ffffff;
    --color-one: #0000ff;
    --color-two: #008200;
    --color-three: #fe0000;
    --color-four: #000084;
    --color-five: #840000;
    --color-six: #008284;
    --color-seven: #840084;
    --color-eight: #757575;

    --font-primary: "Jersey 10", sans-serif;

    --animate-shake: horizontal-shaking 0.15s ease-in;

    @keyframes horizontal-shaking {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(5px);
        }
        50% {
            transform: translateX(-5px);
        }
        75% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(0);
        }
    }
}

.cell {
    @apply bg-primary box-border text-4xl;
}

.cell-opened {
    @apply border-secondary border-t-2 border-r-0 border-b-0 border-l-2;
}

.cell-closed {
    @apply border-4;
}

.three-d-borders {
    @apply border-l-accent border-t-accent border-r-secondary border-b-secondary;
}

.three-d-borders-flipped {
    @apply border-l-secondary border-t-secondary border-r-accent border-b-accent;
}
